<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<form id="changed" action="./changed" method="post">
    <br>
    <input type="text" placeholder="需要修改的id" name="change" id="change">
    <input type="text" placeholder="修改后的name" name="name" id="name">
    <input type="text" placeholder="修改后的password" name="password" id="password">
    <input type="text" placeholder="修改后的sex" name="sex" id="sex">
    <input type="text" placeholder="修改后的grade" name="grade" id="grade">
    <input type="text" placeholder="修改后的age" name="age" id="age">
    <input type="submit" value="修改" name="change" id="change1">
    <br>
    <a href="javascript:history.go(-1);">返回上一页</a>
</form>
</body>
</html>