<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
</head>
<body>
<form id="roottotal" action="./roottotal" method="post">
    作为Root 拥有的功能：
    <input type="submit" value="查看" name="search" id="search">
    <input type="submit" value="插入" name="insert" id="insert">
    <input type="submit" value="删除" name="delete" id="delete">
    <input type="submit" value="修改" name="change" id="change">
    <input type="submit" value="导出Excel" name="export" id="export">
    <input type="submit" value="导入Excel" name="upload" id="upload">
    <br>
    <a href="/" onClick="javascript :history.back(-1);">返回上一页</a>
</form>
</body>
</html>